# Credit scoring service - Task 1
September 22nd 2021.

Credit One has asked us to design and implement a creative, empirically sound solution to understand how much credit to allow someone to use or, at the very least, if someone should be approved or not.
To do this we have received full authority to solve this problem with whatever tools, the data for this project has already been provided.
The objective of this task is to understand and define the problem within a data science framework.

In order to accomplish this task, I have done the following procedure:
1. Introduction;
2. Read the available data;
3. Clean and process this data;
4. Exploratory Data Analysis;
5. In-depth analysis;
 1. Feature Selection and feature engineering;
 2. Modeling and Optimization;
 3. Making Predictions;
6. Conclusions & Results (answers to the two above questions);

# Read the available data from CreditOne:

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import pymysql

pd.set_option('display.max_columns', None)

In [2]:
%%time
import os
if not os.path.isfile('./CreditOne.csv'):
    #Read data from server
    db_connection_str = 'mysql+pymysql://deepanalytics:Sqltask1234!@34.73.222.197/deepanalytics'
    db_connection = create_engine(db_connection_str)
    df = pd.read_sql('SELECT * FROM credit', con=db_connection)
    df.to_csv('CreditOne.csv', sep=',')
else:
    #Read data from csv file:
    df = pd.read_csv(r'./CreditOne.csv',sep=',', index_col = 0)

Wall time: 227 ms

In [3]:
df

,MyUnknownColumn,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,1,20000,female,university,1,24,2,2,-1,-1,-2,-2,3913,3102,689,0,0,0,0,689,0,0,0,0,default
2,2,120000,female,university,2,26,-1,2,0,0,0,2,2682,1725,2682,3272,3455,3261,0,1000,1000,1000,0,2000,default
3,3,90000,female,university,2,34,0,0,0,0,0,0,29239,14027,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000,not default
4,4,50000,female,university,1,37,0,0,0,0,0,0,46990,48233,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000,not default
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30199,29996,220000,male,high school,1,39,0,0,0,0,0,0,188948,192815,208365,88004,31237,15980,8500,20000,5003,3047,5000,1000,not default
30200,29997,150000,male,high school,2,43,-1,-1,-1,-1,0,0,1683,1828,3502,8979,5190,0,1837,3526,8998,129,0,0,not default
30201,29998,30000,male,university,2,37,4,3,2,-1,0,0,3565,3356,2758,20878,20582,19357,0,0,22000,4200,2000,3100,default
30202,29999,80000,male,high school,1,41,1,-1,0,0,0,-1,-1645,78379,76304,52774,11855,48944,85900,3409,1178,1926,52964,1804,default
30203,30000,50000,male,university,1,46,0,0,0,0,0,0,47929,48905,49764,36535,32428,15313,2078,1800,1430,1000,1000,1000,default

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30204 entries, 0 to 30203
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MyUnknownColumn  30203 non-null  object
 1   X1               30204 non-null  object
 2   X2               30204 non-null  object
 3   X3               30204 non-null  object
 4   X4               30204 non-null  object
 5   X5               30204 non-null  object
 6   X6               30204 non-null  object
 7   X7               30204 non-null  object
 8   X8               30204 non-null  object
 9   X9               30204 non-null  object
 10  X10              30204 non-null  object
 11  X11              30204 non-null  object
 12  X12              30204 non-null  object
 13  X13              30204 non-null  object
 14  X14              30204 non-null  object
 15  X15              30204 non-null  object
 16  X16              30204 non-null  object
 17  X17              30204 non-null  object
 18  X18              30204 non-null  object
 19  X19              30204 non-null  object
 20  X20              30204 non-null  object
 21  X21              30204 non-null  object
 22  X22              30204 non-null  object
 23  X23              30204 non-null  object
 24  Y                30204 non-null  object
dtypes: object(25)
memory usage: 6.0+ MB

In [5]:
df.describe()

,MyUnknownColumn,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,30203,30204,30204,30204,30204,30204,30204,30204,30204,30204,30204,30204,30204,30204,30204,30204,30204,30204,30204,30204,30204,30204,30204,30204,30204
unique,30001,83,4,6,6,58,13,13,13,13,12,12,22725,22348,22028,21550,21012,20606,7945,7901,7520,6939,6899,6941,4
top,ID,50000,female,university,2,29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,not default
freq,2,3397,18217,14107,16088,1619,14828,15830,15863,16566,17058,16384,2022,2524,2889,3218,3530,4045,5287,5437,6007,6450,6744,7233,23519

According to the Data Source Manual, the meaning of the available columns is:

1. **X1: Amount of the given credit (NT dollar)**: it includes both the individual consumer credit and his/her family (supplementary) credit.
2. **X2: Gender** (1 = male; 2 = female).
3. **X3: Education** (1 = graduate school; 2 = university; 3 = high school; 0, 4, 5, 6 = others).
4. **X4: Marital status** (1 = married; 2 = single; 3 = divorce; 0=others).
5. **X5: Age** (year).
6. **X6 - X11: History of past payment.** We tracked the past monthly payment records (from April to September, 2005) as follows: X6 = the repayment status in September, 2005; X7 = the repayment status in August, 2005; . . .;X11 = the repayment status in April, 2005. The measurement scale for the repayment status is: -2: No consumption; -1: Paid in full; 0: The use of revolving credit; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above. 
7. **X12-X17: Amount of bill statement (NT dollar)**. X12 = amount of bill statement in September, 2005; X13 = amount of bill statement in August, 2005; . . .; X17 = amount of bill statement in April, 2005.
8. **X18-X23: Amount of previous payment (NT dollar)**. X18 = amount paid in September, 2005; X19 = amount paid in August, 2005; . . .; X23 = amount paid in April, 2005.
9. **Y: client's behavior**; Y=0 then not default, Y=1 then default"

To clean this dataset I have to:
1. Remove the first line and replace the names of the columns with this (to make df more intelligible);
2. Convert all numerical columns into int or float type (rather than object);
3. Check what is wrong with MyUnknownColumn. This seemed to be an ID column but some rows (or simply some IDs) might be repeated or just out of order;
4. Clean all nulls and infinites (if present);
5. Convert all string categorical columns into numerical categorical.

# Clean and process this data:

In [6]:
#Understand the logic of the dataset

#Features selection is going to be more important
#Feature engineering

#### Replace column names with first column:

In [7]:
df.columns = df.iloc[0].values
df = df.drop([0], axis=0)
df

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,1,20000,female,university,1,24,2,2,-1,-1,-2,-2,3913,3102,689,0,0,0,0,689,0,0,0,0,default
2,2,120000,female,university,2,26,-1,2,0,0,0,2,2682,1725,2682,3272,3455,3261,0,1000,1000,1000,0,2000,default
3,3,90000,female,university,2,34,0,0,0,0,0,0,29239,14027,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000,not default
4,4,50000,female,university,1,37,0,0,0,0,0,0,46990,48233,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000,not default
5,5,50000,male,university,1,57,-1,0,-1,0,0,0,8617,5670,35835,20940,19146,19131,2000,36681,10000,9000,689,679,not default
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30199,29996,220000,male,high school,1,39,0,0,0,0,0,0,188948,192815,208365,88004,31237,15980,8500,20000,5003,3047,5000,1000,not default
30200,29997,150000,male,high school,2,43,-1,-1,-1,-1,0,0,1683,1828,3502,8979,5190,0,1837,3526,8998,129,0,0,not default
30201,29998,30000,male,university,2,37,4,3,2,-1,0,0,3565,3356,2758,20878,20582,19357,0,0,22000,4200,2000,3100,default
30202,29999,80000,male,high school,1,41,1,-1,0,0,0,-1,-1645,78379,76304,52774,11855,48944,85900,3409,1178,1926,52964,1804,default
30203,30000,50000,male,university,1,46,0,0,0,0,0,0,47929,48905,49764,36535,32428,15313,2078,1800,1430,1000,1000,1000,default

Replace the column names with the respective month to ease future analysis:

In [8]:
import re
df = df.rename(columns=lambda x: re.sub('(_)?0$','_Sep',x)).rename(columns=lambda x: re.sub('(_)?1$','_Sep',x)).rename(columns=lambda x: re.sub('(_)?2$','_Aug',x))
df = df.rename(columns=lambda x: re.sub('(_)?3$','_Jul',x)).rename(columns=lambda x: re.sub('(_)?4$','_Jun',x)).rename(columns=lambda x: re.sub('(_)?5$','_May',x))
df = df.rename(columns=lambda x: re.sub('(_)?6$','_Apr',x))

The last column ("default payment next month") has a lengthy and hard to write name, I will simplify it:

In [9]:
df = df.rename({'default payment next month': 'Default_Pmnt_NextMonth'}, axis=1)
df

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_Sep,PAY_Aug,PAY_Jul,PAY_Jun,PAY_May,PAY_Apr,BILL_AMT_Sep,BILL_AMT_Aug,BILL_AMT_Jul,BILL_AMT_Jun,BILL_AMT_May,BILL_AMT_Apr,PAY_AMT_Sep,PAY_AMT_Aug,PAY_AMT_Jul,PAY_AMT_Jun,PAY_AMT_May,PAY_AMT_Apr,Default_Pmnt_NextMonth
1,1,20000,female,university,1,24,2,2,-1,-1,-2,-2,3913,3102,689,0,0,0,0,689,0,0,0,0,default
2,2,120000,female,university,2,26,-1,2,0,0,0,2,2682,1725,2682,3272,3455,3261,0,1000,1000,1000,0,2000,default
3,3,90000,female,university,2,34,0,0,0,0,0,0,29239,14027,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000,not default
4,4,50000,female,university,1,37,0,0,0,0,0,0,46990,48233,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000,not default
5,5,50000,male,university,1,57,-1,0,-1,0,0,0,8617,5670,35835,20940,19146,19131,2000,36681,10000,9000,689,679,not default
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30199,29996,220000,male,high school,1,39,0,0,0,0,0,0,188948,192815,208365,88004,31237,15980,8500,20000,5003,3047,5000,1000,not default
30200,29997,150000,male,high school,2,43,-1,-1,-1,-1,0,0,1683,1828,3502,8979,5190,0,1837,3526,8998,129,0,0,not default
30201,29998,30000,male,university,2,37,4,3,2,-1,0,0,3565,3356,2758,20878,20582,19357,0,0,22000,4200,2000,3100,default
30202,29999,80000,male,high school,1,41,1,-1,0,0,0,-1,-1645,78379,76304,52774,11855,48944,85900,3409,1178,1926,52964,1804,default
30203,30000,50000,male,university,1,46,0,0,0,0,0,0,47929,48905,49764,36535,32428,15313,2078,1800,1430,1000,1000,1000,default

#### Convert the numerical columns into type "int"
All columns are numerical except for ["SEX","EDUCATION","default payment next month"] (for now).

**Note:** All columns were converted into floats instead of int because of NaN's or Infinites (int type columns do not tolerate these values).

In [10]:
cols = df.columns.drop(["SEX","EDUCATION","Default_Pmnt_NextMonth"])

df[cols] = df[cols].apply(pd.to_numeric, errors='coerce', downcast ='integer')

In [11]:
df

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_Sep,PAY_Aug,PAY_Jul,PAY_Jun,PAY_May,PAY_Apr,BILL_AMT_Sep,BILL_AMT_Aug,BILL_AMT_Jul,BILL_AMT_Jun,BILL_AMT_May,BILL_AMT_Apr,PAY_AMT_Sep,PAY_AMT_Aug,PAY_AMT_Jul,PAY_AMT_Jun,PAY_AMT_May,PAY_AMT_Apr,Default_Pmnt_NextMonth
1,1.0,20000.0,female,university,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,-2.0,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,default
2,2.0,120000.0,female,university,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,2.0,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,default
3,3.0,90000.0,female,university,2.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,not default
4,4.0,50000.0,female,university,1.0,37.0,0.0,0.0,0.0,0.0,0.0,0.0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,not default
5,5.0,50000.0,male,university,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,0.0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,not default
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30199,29996.0,220000.0,male,high school,1.0,39.0,0.0,0.0,0.0,0.0,0.0,0.0,188948.0,192815.0,208365.0,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,not default
30200,29997.0,150000.0,male,high school,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,0.0,1683.0,1828.0,3502.0,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,not default
30201,29998.0,30000.0,male,university,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,0.0,3565.0,3356.0,2758.0,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,default
30202,29999.0,80000.0,male,high school,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,-1.0,-1645.0,78379.0,76304.0,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,default
30203,30000.0,50000.0,male,university,1.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,47929.0,48905.0,49764.0,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,default

#### Verifying "MyUnkownColumn", now called "ID":

In [12]:
df.ID.value_counts()

1.0        2
139.0      2
129.0      2
130.0      2
131.0      2
          ..
10129.0    1
10128.0    1
10127.0    1
10126.0    1
30000.0    1
Name: ID, Length: 30000, dtype: int64

In [13]:
df[df.ID == 2]

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_Sep,PAY_Aug,PAY_Jul,PAY_Jun,PAY_May,PAY_Apr,BILL_AMT_Sep,BILL_AMT_Aug,BILL_AMT_Jul,BILL_AMT_Jun,BILL_AMT_May,BILL_AMT_Apr,PAY_AMT_Sep,PAY_AMT_Aug,PAY_AMT_Jul,PAY_AMT_Jun,PAY_AMT_May,PAY_AMT_Apr,Default_Pmnt_NextMonth
2,2.0,120000.0,female,university,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,2.0,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,default
205,2.0,120000.0,female,university,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,2.0,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,default

In [14]:
df = df.sort_values('ID').drop_duplicates(keep='first')
df

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_Sep,PAY_Aug,PAY_Jul,PAY_Jun,PAY_May,PAY_Apr,BILL_AMT_Sep,BILL_AMT_Aug,BILL_AMT_Jul,BILL_AMT_Jun,BILL_AMT_May,BILL_AMT_Apr,PAY_AMT_Sep,PAY_AMT_Aug,PAY_AMT_Jul,PAY_AMT_Jun,PAY_AMT_May,PAY_AMT_Apr,Default_Pmnt_NextMonth
1,1.0,20000.0,female,university,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,-2.0,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,default
205,2.0,120000.0,female,university,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,2.0,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,default
3,3.0,90000.0,female,university,2.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,not default
4,4.0,50000.0,female,university,1.0,37.0,0.0,0.0,0.0,0.0,0.0,0.0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,not default
208,5.0,50000.0,male,university,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,0.0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,not default
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30201,29998.0,30000.0,male,university,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,0.0,3565.0,3356.0,2758.0,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,default
30202,29999.0,80000.0,male,high school,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,-1.0,-1645.0,78379.0,76304.0,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,default
30203,30000.0,50000.0,male,university,1.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,47929.0,48905.0,49764.0,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,default
202,NaN,NaN,X2,X3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
203,NaN,NaN,SEX,EDUCATION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,default payment next month

**Note:** The ID column has two NaN values and the remainder of the row is basically empty, these two rows ought to be removed in the missing clean step.
After this step, I will verify if the ID could be used to replace the index.

#### Clean Missing values:
As mentioned above, at least the following two rows ought to be removed:

In [15]:
df[df.ID.isnull()]

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_Sep,PAY_Aug,PAY_Jul,PAY_Jun,PAY_May,PAY_Apr,BILL_AMT_Sep,BILL_AMT_Aug,BILL_AMT_Jul,BILL_AMT_Jun,BILL_AMT_May,BILL_AMT_Apr,PAY_AMT_Sep,PAY_AMT_Aug,PAY_AMT_Jul,PAY_AMT_Jun,PAY_AMT_May,PAY_AMT_Apr,Default_Pmnt_NextMonth
202,NaN,NaN,X2,X3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
203,NaN,NaN,SEX,EDUCATION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,default payment next month

In [16]:
df = df[~ df.ID.isnull()]
df

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_Sep,PAY_Aug,PAY_Jul,PAY_Jun,PAY_May,PAY_Apr,BILL_AMT_Sep,BILL_AMT_Aug,BILL_AMT_Jul,BILL_AMT_Jun,BILL_AMT_May,BILL_AMT_Apr,PAY_AMT_Sep,PAY_AMT_Aug,PAY_AMT_Jul,PAY_AMT_Jun,PAY_AMT_May,PAY_AMT_Apr,Default_Pmnt_NextMonth
1,1.0,20000.0,female,university,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,-2.0,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,default
205,2.0,120000.0,female,university,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,2.0,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,default
3,3.0,90000.0,female,university,2.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,not default
4,4.0,50000.0,female,university,1.0,37.0,0.0,0.0,0.0,0.0,0.0,0.0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,not default
208,5.0,50000.0,male,university,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,0.0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,not default
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30199,29996.0,220000.0,male,high school,1.0,39.0,0.0,0.0,0.0,0.0,0.0,0.0,188948.0,192815.0,208365.0,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,not default
30200,29997.0,150000.0,male,high school,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,0.0,1683.0,1828.0,3502.0,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,not default
30201,29998.0,30000.0,male,university,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,0.0,3565.0,3356.0,2758.0,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,default
30202,29999.0,80000.0,male,high school,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,-1.0,-1645.0,78379.0,76304.0,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,default
30203,30000.0,50000.0,male,university,1.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,47929.0,48905.0,49764.0,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,default

In [17]:
df.isnull().sum()

ID                        0
LIMIT_BAL                 0
SEX                       0
EDUCATION                 0
MARRIAGE                  0
AGE                       0
PAY_Sep                   0
PAY_Aug                   0
PAY_Jul                   0
PAY_Jun                   0
PAY_May                   0
PAY_Apr                   0
BILL_AMT_Sep              0
BILL_AMT_Aug              0
BILL_AMT_Jul              0
BILL_AMT_Jun              0
BILL_AMT_May              0
BILL_AMT_Apr              0
PAY_AMT_Sep               0
PAY_AMT_Aug               0
PAY_AMT_Jul               0
PAY_AMT_Jun               0
PAY_AMT_May               0
PAY_AMT_Apr               0
Default_Pmnt_NextMonth    0
dtype: int64

No more nulls at this point in the df!

It seems that the ID is a continuous, I will verify by confirming if the ranking of the ID is equal to the ID itself:

In [18]:
df.ID.equals(df.ID.rank())

True

At this point the index no longer makes sense. I will replace this column with the ID to simplify the dataset:

In [19]:
df = df.set_index('ID',drop=True, verify_integrity = True)
df.index = df.index.astype(int)
df

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_Sep,PAY_Aug,PAY_Jul,PAY_Jun,PAY_May,PAY_Apr,BILL_AMT_Sep,BILL_AMT_Aug,BILL_AMT_Jul,BILL_AMT_Jun,BILL_AMT_May,BILL_AMT_Apr,PAY_AMT_Sep,PAY_AMT_Aug,PAY_AMT_Jul,PAY_AMT_Jun,PAY_AMT_May,PAY_AMT_Apr,Default_Pmnt_NextMonth
ID,,,,,,,,,,,,,,,,,,,,,,,,
1,20000.0,female,university,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,-2.0,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,default
2,120000.0,female,university,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,2.0,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,default
3,90000.0,female,university,2.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,not default
4,50000.0,female,university,1.0,37.0,0.0,0.0,0.0,0.0,0.0,0.0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,not default
5,50000.0,male,university,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,0.0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,not default
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000.0,male,high school,1.0,39.0,0.0,0.0,0.0,0.0,0.0,0.0,188948.0,192815.0,208365.0,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,not default
29997,150000.0,male,high school,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,0.0,1683.0,1828.0,3502.0,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,not default
29998,30000.0,male,university,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,0.0,3565.0,3356.0,2758.0,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,default
29999,80000.0,male,high school,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,-1.0,-1645.0,78379.0,76304.0,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,default
30000,50000.0,male,university,1.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,47929.0,48905.0,49764.0,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,default

#### Clean duplicates:
I will verify if the duplicates in this dataset are worth removing:

In [20]:
cols = df.columns
df1 = df[df.duplicated(subset=cols,keep=False)].copy()
df1 = df1.sort_values(list(cols))
df1['group'] = 'g' + (df1.groupby(list(cols)).ngroup() + 1).astype(str)

df1

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_Sep,PAY_Aug,PAY_Jul,PAY_Jun,PAY_May,PAY_Apr,BILL_AMT_Sep,BILL_AMT_Aug,BILL_AMT_Jul,BILL_AMT_Jun,BILL_AMT_May,BILL_AMT_Apr,PAY_AMT_Sep,PAY_AMT_Aug,PAY_AMT_Jul,PAY_AMT_Jun,PAY_AMT_May,PAY_AMT_Apr,Default_Pmnt_NextMonth,group
ID,,,,,,,,,,,,,,,,,,,,,,,,,
12431,20000.0,male,university,2.0,24.0,2.0,2.0,4.0,4.0,4.0,4.0,1650.0,1650.0,1650.0,1650.0,1650.0,1650.0,0.0,0.0,0.0,0.0,0.0,0.0,default,g1
14295,20000.0,male,university,2.0,24.0,2.0,2.0,4.0,4.0,4.0,4.0,1650.0,1650.0,1650.0,1650.0,1650.0,1650.0,0.0,0.0,0.0,0.0,0.0,0.0,default,g1
7171,50000.0,female,graduate school,2.0,23.0,1.0,-2.0,-2.0,-2.0,-2.0,-2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,not default,g2
17033,50000.0,female,graduate school,2.0,23.0,1.0,-2.0,-2.0,-2.0,-2.0,-2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,not default,g2
1760,50000.0,male,university,2.0,26.0,1.0,-2.0,-2.0,-2.0,-2.0,-2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,not default,g3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29910,360000.0,male,graduate school,2.0,32.0,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,not default,g33
1094,360000.0,male,university,1.0,41.0,1.0,-2.0,-2.0,-2.0,-2.0,-2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,default,g34
8321,360000.0,male,university,1.0,41.0,1.0,-2.0,-2.0,-2.0,-2.0,-2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,default,g34
840,500000.0,male,graduate school,1.0,43.0,1.0,-2.0,-2.0,-2.0,-2.0,-2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,default,g35
7320,500000.0,male,graduate school,1.0,43.0,1.0,-2.0,-2.0,-2.0,-2.0,-2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,default,g35

In [21]:
df1.PAY_Sep.value_counts()

 1.0    42
-2.0    18
-1.0     8
 2.0     2
Name: PAY_Sep, dtype: int64

We have 70 clients that are exactly identical (35 pairs as can be seen above). 

In my opinion, these clients seem to be a coincidence. As many of them did not even consume a credit (-2 in PAY_Apr, PAY_May, PAY_Jun, PAY_Jul & PAY_Aug consistently has 60 occurences), the remainder of the columns are zeroes (there is no bill and no payment). 

Furthermore, these clients are a minority, thus, even if my assumption is wrong, the impact from duplicates would be minimal.

**I will not remove the 35 duplicates.**

#### Factorize all categorical columns into numerical ones:

Replacement of values is done according to the data set information manual:https://s3.amazonaws.com/gbstool/courses/910/docs/DataSourceUpdated5.18.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20210927T064652Z&X-Amz-SignedHeaders=host&X-Amz-Expires=36900&X-Amz-Credential=AKIAJBIZLMJQ2O6DKIAA%2F20210927%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=82239790eb41f671dbcddf2f1123aeb5934f27c3a917b3f8f58ac55d409f69bb.

In [22]:
df['SEX'] = df['SEX'].replace({'male': 1, 'female': 2})
df['EDUCATION'] = df['EDUCATION'].replace({'graduate school': 1, 'university': 2, 'high school': 3, 'other': 0})
df['Default_Pmnt_NextMonth'] = df['Default_Pmnt_NextMonth'].replace({'not default': 0, 'default': 1})
df

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_Sep,PAY_Aug,PAY_Jul,PAY_Jun,PAY_May,PAY_Apr,BILL_AMT_Sep,BILL_AMT_Aug,BILL_AMT_Jul,BILL_AMT_Jun,BILL_AMT_May,BILL_AMT_Apr,PAY_AMT_Sep,PAY_AMT_Aug,PAY_AMT_Jul,PAY_AMT_Jun,PAY_AMT_May,PAY_AMT_Apr,Default_Pmnt_NextMonth
ID,,,,,,,,,,,,,,,,,,,,,,,,
1,20000.0,2,2,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,-2.0,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
2,120000.0,2,2,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,2.0,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
3,90000.0,2,2,2.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
4,50000.0,2,2,1.0,37.0,0.0,0.0,0.0,0.0,0.0,0.0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
5,50000.0,1,2,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,0.0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000.0,1,3,1.0,39.0,0.0,0.0,0.0,0.0,0.0,0.0,188948.0,192815.0,208365.0,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29997,150000.0,1,3,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,0.0,1683.0,1828.0,3502.0,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29998,30000.0,1,2,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,0.0,3565.0,3356.0,2758.0,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29999,80000.0,1,3,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,-1.0,-1645.0,78379.0,76304.0,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
30000,50000.0,1,2,1.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,47929.0,48905.0,49764.0,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

### Now, the dataset is clean and ready to be used:

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30000 entries, 1 to 30000
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   LIMIT_BAL               30000 non-null  float64
 1   SEX                     30000 non-null  int64
 2   EDUCATION               30000 non-null  int64
 3   MARRIAGE                30000 non-null  float64
 4   AGE                     30000 non-null  float64
 5   PAY_Sep                 30000 non-null  float64
 6   PAY_Aug                 30000 non-null  float64
 7   PAY_Jul                 30000 non-null  float64
 8   PAY_Jun                 30000 non-null  float64
 9   PAY_May                 30000 non-null  float64
 10  PAY_Apr                 30000 non-null  float64
 11  BILL_AMT_Sep            30000 non-null  float64
 12  BILL_AMT_Aug            30000 non-null  float64
 13  BILL_AMT_Jul            30000 non-null  float64
 14  BILL_AMT_Jun            30000 non-null  float64
 15  BILL_AMT_May            30000 non-null  float64
 16  BILL_AMT_Apr            30000 non-null  float64
 17  PAY_AMT_Sep             30000 non-null  float64
 18  PAY_AMT_Aug             30000 non-null  float64
 19  PAY_AMT_Jul             30000 non-null  float64
 20  PAY_AMT_Jun             30000 non-null  float64
 21  PAY_AMT_May             30000 non-null  float64
 22  PAY_AMT_Apr             30000 non-null  float64
 23  Default_Pmnt_NextMonth  30000 non-null  int64
dtypes: float64(21), int64(3)
memory usage: 5.7 MB

### Dataframe specifics:

#### Replace numbers with actual value:
For some visualizations it is better to label this column with numerical data.

In [19]:
in_store_dict = {0:"online",1:"in-store"}
#df["instore"] = df["in-store"].map(in_store_dict)

region_dict = {1:"North",2:"South",3:"East",4:"West"}
#df["region"] = df["region"].map(region_dict)

# Exploratory Data Analysis (EDA):